*.pyc
*.ini
output/
data/eigs/
*.mp4
/*.npy
*.jpg
*.png
assets/squishyball/
*_v*.ma
*.ply
*.dll
*/*.obj
*/*.ma
*/*.off
*.pyd
*.npz
*/*.msh
assets/
data/
timing/
test_scripts/
cylinders.obj
tank.obj
.vscode/