*.msh
bat/
armadilo/
boat/
bar2/
bunny/
heli/
table/
windmill/
bouncyclosed.ma
bouncyclosed.obj
bowl stack.obj
bowl.obj
funnel.obj
hourglass.obj
hourglass.glb
*.off
gear.obj
/*.tobj
*.ma
*.tobj
*.mesh
CH47/
eiffel_tower/
*.zip
effel.stl
*.glb
tokyo_tower/
tokyo-tower-1500-scale-model_files/
