/*.obj
/*.glb
/*.ma
/*.msh
/*.off
/*.mesh
/*.tobj
/*.stl
boat/
armadilo/
bat/
bunny/
bunny3/
mill/
rowboat/
bug/
flower/
gear/
heli/
table/
squishy/
wheel/
windmill/
watermill/
bar2/
bar3/
boat*/
CH47/
dragon/
effel/
fonts/
fork/
hermit-crab/
link/
model*/
tokyo-tower*/
tokyo_tower/
rowboat*/
eiffel_tower/
crane/
wrecking_ball/
crab/
lpwheel/

