/*.obj
/*.glb
/*.ma
/*.msh
/*.off
/*.mesh
boat/
armadilo/
bat/
bunny/
bunny3/
mill/
rowboat/
bug/
flower/
gear/
heli/
table/
squishy/
wheel/
windmill/
watermill/
bar2/
bar3/
boat*/


